/*! Helpless Kiwi v0.0.1 */

/*  Foundation 6 */
@import 'settings';
@import 'components/settings';
@import 'foundation';

@include foundation-global-styles;
@include foundation-typography;
@include foundation-xy-grid-classes;

/*  Helpless Kiwi */
@import "components/base";
@import "components/content";
@import "components/admin/form";
@import "components/main/nav";
@import "components/main/activity";
@import "components/message";
@import "components/card";
@import "components/table";
@import "components/button";
@import "components/main/feedback";
@import "components/main/profile";
@import "components/main/login";

/*

html {
    font-size: 62.5%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-sizing: border-box;
}

body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333;
    background-color: #fff;
}

form {
    display: block;
    margin-top: 0em;
}*/

.background-block {
    border: 1px #ccc solid;
    background: #fdfdfd;
    margin: 20px;
    box-shadow: 0px 0px 15px #999;
}